/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, monospace);
  font-variation-settings: "wght" var(--text-weight);
  color: var(--accent-color, #000000);
  font-size: 18px;
  background-color: var(--bg-color, #ffffff);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  padding-inline: clamp(0.125rem, -7.9736rem + 34.554vw, 23.125rem);
}

@media (width <= 375px) {
  .page__window {
    padding-inline: 0;
    width: 100%;
  }
}

.header {
  margin-block: 100px;
  display: grid;
  grid-template-rows: 1fr max-content min-content;
  gap: 25px;
  font-family: var(--accent-font);
  outline: 2px solid currentColor;
  background-color: var(--bg-color);
  line-height: 1;
  text-transform: uppercase;
}

.header__title {
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  justify-self: center;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle{
  justify-self: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  justify-self: center;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1;
}

.theme-menu__list {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 14px;
  justify-items: left;
}

.theme-menu__item {

}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.theme-menu__button {
  outline: none;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
  block-size: 14px;
  align-items: center;
  font-weight: var(--text-weight);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::before {
  content: '▶';
  color: var(--accent-color);
  margin-right: -10px;
  visibility: hidden;
}

.theme-menu__button:disabled::before {
  display: inline-block;
  visibility: visible;
  animation: arrow-offset 0.5s infinite ease-in-out alternate;
}

@keyframes arrow-offset{
  from {
    transform: translate(0);
  }

  to {
    transform: translate(4px);
  }
}

.theme-menu__button:hover {
  color: inherit;
  transition: color 0.3s, opacity 0.6s, visibility 0.6s;
}
.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  margin-top: 1px;
  margin-inline-start: 18px;
  border-bottom: 2px solid currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, opacity 0.6s ease, visibility 0.6s ease;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transform: scaleX(1);
}

.card {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 25px;
  background-color: var(--bg-color);
  outline: 2px solid currentColor;
}

.card__title {
  font-family: var(--main-font);
  font-weight: var(--heading-weight);
  font-size: 18px;
  line-height: 1.22;
  padding-block: 5px;
  padding-inline: 10px;
}

 .card__figure {
  margin: 0;
 }

.card__picture {
  position: relative;
  outline: 2px solid currentColor;
}

.card__image {
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
  inline-size: 100%;
}

.label {
  /* watermark */
  position: absolute;
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  top: clamp(1.5625rem, 1.5185rem + 0.1878vw, 1.6875rem);
  font-family: var(--accent-font);
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  color: currentcolor;
  mix-blend-mode: hard-light;
  text-shadow: var(--text-shadow);
  opacity: 0.5;
}

@supports((text-stroke: var(--text-stroke)) or (-webkit-text-stroke: var(--text-stroke))) {
  .label{
      -webkit-text-stroke: var(--text-stroke);
      text-stroke: var(--text-stroke);
      text-shadow: none;
  }
}

.card__content {
  padding-inline: 25px;
}

.card__text {
  font-family: var(--main-font);
  font-weight: var(--text-weight);
  font-size: 18px;
  line-height: 1.17;
}

.card__description {
  padding-block-start: 27px;
}

.card__button {
  justify-self: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.card__icon-button {
  display: inline-block;
  padding-block: 1px;
  outline: 2px solid var(--without-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  --without-color: var(--accent-color);
  transition: outline-color 0.3s;
}

.like-icon {
  display: block;
  inline-size: 100%;
}

.like-icon .contour {
  fill: var(--accent-color);
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .core {
  fill: none;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: none;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: big-heart 0.3s ease-in 0.1s alternate 1;
}

@keyframes big-heart {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.like-icon.is-liked .sparks {
  animation: flash 0.3s ease-in 0.3s alternate 1;
}

@keyframes flash {
  from {
    transform: opacity(0);
  }

  to {
    transform: opacity(1);
  }
}

.card__like-button {
  outline: 2px solid var(--accent-color);
  inline-size: 130px;
  block-size: 38px;
  overflow: hidden;
  position: relative;
}

/*
.card__like-button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
}
*/

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
}

.footer {
  margin-block-start: clamp(3.25rem, 3.294rem + -0.1878vw, 3.125rem);
  margin-block-end: clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem);
  margin-inline: clamp(2.15625rem, -1.0458rem + 13.662vw, 11.25rem);
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
}

.footer__button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  padding-block: 15px;
  outline: 2px solid currentColor;
  overflow: hidden;
  position: relative;
}

.differens__button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  /*outline-offset: 0;*/
  transition: box-shadow 0.3s;
}

.differens__button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  color: var(--bg-color);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
}

.differens__button:hover::before {
  transform: translate(0);
  color: var(--dif-color);
  background-color: var(--dif-color);
  mix-blend-mode: difference;
}

/*@keyframes pseudo-leaving {
  from {
    translate: -100% 0%;
  }

  to {
    translate: 0% 0%;
  }
}


.footer__button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  translate: -100% 0%;
}

.footer__button:hover::before {
  animation: pseudo-leaving 0.5s ease-in-out;
}*/


.footer__image {
  outline: none;
  inline-size: 21px;
  block-size: 21px;
}

@media (width<= 375px) {
  .footer__button {
    flex-direction: column;
  }

  .footer__image {
    inline-size: 28px;
    block-size: 28px;
  }
}

.popup__dialog {
  outline: 2px solid var(--accent-color);
  border: none;
  background-color: var(--bg-color);
  max-inline-size: 353px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  min-inline-size: 341px;
  padding: 0;
  position: fixed;
  inset:0;
}

.popup__dialog:not([open]){
  pointer-events: none;
  opacity: 0;
}

.popup__dialog::backdrop {
  background-color: var(--bg-color);
  backdrop-filter: blur(7px);
} 

.popup__form {
  justify-self: center;
  color: var(--accent-color);
  display:grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
  justify-items: center;
  margin-block: 30px;
  margin-inline: clamp(2.5rem, 2.7201rem + -0.939vw, 1.875rem);
}

.popup__form-content {
  display: grid;
  grid-template-columns: 39px auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.popup__form-image {
  inline-size: 100%;
  block-size: 39px;
}

.popup__form-title {
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.popup__form-button {
  outline: 2px solid var(--accent-color);
  inline-size: 100%;
  block-size: 38px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}



/*
dialog {
  border-width: 1px;
  max-inline-size: 550px;
  inline-size: 80%;
  min-inline-size: 250px;
}

h2 {
  margin-block-start: 0;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button:hover {
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 0.15);
  cursor: pointer;
}

button:focus {
  outline: 2px solid #000;
  outline-offset: 0;
}
