/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, monospace);
  font-variation-settings: "wght" var(--text-weight);
  color: var(--accent-color, #000000);
  font-size: 18px;
  background-color: var(--bg-color, #ffffff);
  background-image: var(--bg-image);
 /* background-position: center;*/
  background-size: cover;
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
  padding-inline: clamp(0.125rem, -7.9736rem + 34.554vw, 23.125rem);
}

.header {
  margin-block: 100px;
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  gap: 20px 25px;
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  line-height: 1;
  text-decoration: uppercase;
}

.header__title {
/* width: 100%; */
padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);

justify-self: center;
font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle{
  justify-self: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  justify-self: center;
  flex-direction: column;
  margin-bottom: 25px;
  display: flex;
  gap: 14px;
}
