/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: theme-dark) {
  :root {
    --bg-color: #000000;
    --accent-color: #00cc14;
    --dif-color: #00cc14;
    --without-color: rgb(0 204 20 / 0);
    --heading-weight: 785;
    --text-weight: 465;
    --text-shadow: -1px 0 #000000,
      0 1px #000000,
      1px 0 #000000,
      0 -1px #000000;
    --text-stroke: 1px #000000;
    --button-decor-rgb: 0, 204, 20;
    --bg-image: repeating-linear-gradient(
        to right,
        #000,
        #000 2px,
        rgb(0 0 0 / 0) 2px,
        rgb(0 0 0 / 0) 4px
      ),
      repeating-linear-gradient(
        #000,
        #000 2px,
        rgb(0 0 0 / 0) 2px,
        rgb(0 0 0 / 0) 4px
      ),
      linear-gradient(
        #007f0c,
        #1a1a1a
      );
  }
}

:root.theme-dark {
  --bg-color: #000000;
  --accent-color: #00cc14;
  --dif-color: #00cc14;
  --without-color: rgb(0 204 20 / 0);
  --heading-weight: 785;
  --text-weight: 465;
  --text-shadow: -1px 0 #000000,
    0 1px #000000,
    1px 0 #000000,
    0 -1px #000000;
  --text-stroke: 1px #000000;
  --button-decor-rgb: 0, 204, 20;
  --bg-image: repeating-linear-gradient(
        to right,
        #000,
        #000 2px,
        rgb(0 0 0 / 0) 2px,
        rgb(0 0 0 / 0) 4px
      ),
      repeating-linear-gradient(
        #000,
        #000 2px,
        rgb(0 0 0 / 0) 2px,
        rgb(0 0 0 / 0) 4px
      ),
      linear-gradient(
        #007f0c,
        #1a1a1a
      );
}

:root.theme-light {
  --bg-color: #ffffff;
  --accent-color: #000000;
  --dif-color: #ffffff;
  --without-color: rgb(0 0 0 / 0);
  --heading-weight: 700;
  --text-weight: 400;
  --text-shadow: -1px 0 #ffffff,
    0 1px #ffffff,
    1px 0 #ffffff,
    0 -1px #ffffff;
  --text-stroke: 1px #ffffff;
  --button-decor-rgb: 0, 0, 0;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    linear-gradient(
      #e7e7e7 0.01%,
      #1a1a1a
    );
}
