/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: theme-dark) {
  :root {
    --bg-color: #000000;
    --accent-color: #00cc14;
    --heading-weight: 785;
    --text-weight: 465;
    --button-decor-rgb: 0, 204, 20; 
    --bg-image: url(../images/cover-image-dark.png);
  }
}

:root.theme-dark {
  --bg-color: #000000;
  --accent-color: #00cc14;
  --heading-weight: 785;
  --text-weight: 465;
  --button-decor-rgb: 0, 204, 20;
  --bg-image: url(../images/cover-image-dark.png);
}

:root.theme-light {
  --bg-color: #ffffff;
  --accent-color: #000000;
  --heading-weight: 700;
  --text-weight: 400;
  --button-decor-rgb: 0, 0, 0;
  --bg-image: url(../images/cover-image-light.png);
}