/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "PInter-Variable";
  --accent-font: "PressStart2P-Regular";
  --bg-color: #ffffff;
  --accent-color: #000000;
  --heading-weight: 700;
  --text-weight: 400;
  --text-shadow: -1px 0 #ffffff,
    0 1px #ffffff,
    1px 0 #ffffff,
    0 -1px #ffffff;
  --text-stroke: 1px #ffffff;
  --button-decor-rgb: 0, 0, 0;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    linear-gradient(
      #e7e7e7 0.01%,
      #1a1a1a
    );

  /*
  --bg-image: url(../images/cover-image-light.png);
  --heading-color: #db00ff;
  --title-color:  #000028;
  --title-bg-color: #ff0070;
  --shadow-decor: #ff0070;
  --button-decor-rgb: 255, 0, 112; */
}
