/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "PInter-Variable";
  --accent-font: "PressStart2P-Regular";
  --text-weight-light: 400;
  --text-weight-dark: 465;
  --heading-weight-light: 700;
  --heading-weight-dark: 785;
 /* --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --title-color:  #000028;
  --title-bg-color: #ff0070;
  --shadow-decor: #ff0070;
  --button-decor-rgb: 255, 0, 112; */
}
